// Place all the styles related to the treatment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

#newTreatment{
	section{
		form{
			padding-top:20px !important;
		}
	}
}

#autocomplete-input{
	padding-right: 20px;
}
.ui-input-has-clear{
	position: relative;
}
a.ui-input-clear{
	position: absolute;
	right: 0;
}
#autocomplete{
	margin:-8px 0 0 0;
	padding:0px;
	background:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-left: 1px solid $grey;
	border-right: 1px solid $grey;
	li{
		font-size:14px;
		list-style: none;
		padding:4px 0;
		border-bottom: 1px solid $grey;
	}

}

#med-list{
	.icon-checkmark{
		color: $dark-grey !important;
		font-size: 20px;
		&:hover{
			color: $green;
		}
		float:right;
		text-decoration: none;
	}
}