<ion-view view-title="Sign up">
  <ion-content class="padding">
	<br/>
  	<h1 class="text-center text-green">Medi<strong class="text-black">App</strong><span class="icon-medical10"></span></h1>

  	<form novalidate class="simple-form text-center">
		
		<input type="email" ng-model="user.email" placeholder= "Emaill Address"/>

		<input type="text" ng-model="user.name" placeholder= "Your Name"/>

		<input type="password" ng-model="user.password"  placeholder= "Password"/>

		<input type="password" ng-model="user.password_confirmation"  placeholder= "Password Confirmation"/>

		<input type="submit" ng-click="create(user)" value="create account" class="btn-green"/>
		<br/>
		<br/>
		<a class="btn text-green btn-block" ui-sref="login">Sign In</a>
		<a ui-sref="recover" class="btn text-green btn-block">Recover Account</a>
	</form>

  </ion-content>
</ion-view>
