<ion-view view-title="Home">
	<ion-content>
	<a ng-init="getTreatments()"></a>
		<ion-list can-swipe="listCanSwipe">
			<ion-item ng-repeat="treatment in treatments">

				<h2>{{treatment.medication}}</h2>
				<p>{{treatment.updated_at}}</p>

			    <ion-option-button class="button-possitive" ng-click="edit(treatment)">Edit
			    </ion-option-button>
				
				<ion-option-button class="button-assertive" ng-click="delete(treatment)">Delete
				</ion-option-button>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

<ion-tabs class="tabs-positive tabs-icon-only" >

	<ion-tab title="Home" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" href="#/">
	</ion-tab>

	<ion-tab title="Add" icon-on="ion-plus-circled" icon-off="ion-plus-round " href="#/treatment/new">
	</ion-tab>

	<ion-tab title="Profile" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" href="#/profile">
	</ion-tab>

</ion-tabs>
