<ion-view view-title="Home">
	<ion-content>
	<a ng-init="getTreatments()"></a>
		<ion-list>
			<ion-item ng-repeat="treatment in treatments" can-swipe="true">

				<h2>{{treatment.medication}}</h2>
				<p>{{treatment.hour}}</p>

			    <ion-option-button class="button-possitive" ng-click="edit(treatment)">Edit
			    </ion-option-button>
				
				<ion-option-button class="button-possitive" ng-click="delete(treatment)">Delete
				</ion-option-button>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

<ion-tabs class="tabs-positive tabs-icon-only">
	<ion-tab title="Home" icon-on="ion-home" icon-off="ion-home" href="#/">
	</ion-tab>
	<ion-tab title="Add" icon-on="ion-plus-circled" icon-off="ion-plus-round " href="#/treatment/new">
	</ion-tab>
	<ion-tab title="Profile" icon-on="ion-gear-a" icon-off="ion-gear-a" href="#/profile">
	</ion-tab>
</ion-tabs>