<ion-view view-title="Add">
  <ion-content class="padding">
	<br/>
	{{frequencies[0]}}
	<form novalidate class="simple-form text-center">
		
		<input type="text" ng-model="treatment.medication_name" placeholder= "Medication Name"/>
		
		<label>Treatment Hour</label>
		<select ng-model="treatment.hour" ng-options="hour.name for hour in hours track by hour.id"></select>
		
		<label>Treatment Frequency (Hrs.)</label>
		<select ng-model="treatment.frequency" ng-options="frequency.id for frequency in frequencies"></select>


		<input type="date" ng-model="treatment.finish" placeholder="Finish date">

		<input type="submit" ng-click="create(treatment)" value="Add Treatment" class="btn btn-green"/>
	</form>
  </ion-content>
</ion-view>

<ion-tabs class="tabs-positive tabs-icon-only">
	<ion-tab title="Home" icon-on="ion-home" icon-off="ion-home" href="#/">
	</ion-tab>
	<ion-tab title="Add" icon-on="ion-plus-circled" icon-off="ion-plus-round " href="#/treatment/new">
	</ion-tab>
	<ion-tab title="Profile" icon-on="ion-gear-a" icon-off="ion-gear-a" href="#/profile">
	</ion-tab>
</ion-tabs>