<ion-view view-title="Treatment">
  <ion-content class="padding">
	<br/>
	<form novalidate class="simple-form text-center">
		
		<input type="text" ng-model="treatment.medication" placeholder= "Medication Name"/>
		
		<input type="tel" ng-model="treatment.frecuency" placeholder="Frequency ">

		<input type="tel" ng-model="treatment.hour" placeholder="Start hour">


		<input type="date" ng-model="treatment.finish" placeholder="Finish date">

		<input type="submit" ng-click="create(treatment)" value="Add Treatment" class="btn btn-green"/>
	</form>
  </ion-content>
</ion-view>

<ion-tabs class="tabs-positive tabs-icon-only">

	<ion-tab title="Home" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" href="#/">
	</ion-tab>

	<ion-tab title="Add" icon-on="ion-plus-circled" icon-off="ion-plus-round " href="#/treatment/new">
	</ion-tab>

	<ion-tab title="Profile" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" href="#/profile">
	</ion-tab>

</ion-tabs>
